*   {
    margin:0;
    padding:0;
}
body{
    background-image: url("../public//images/background-ga.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}